meal-playground/docs/setup/n8n-workflow-feedback.json
{
  "name": "BurnRate Feedback Collector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "burnrate-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Flatten feedback data for easy Google Sheets mapping\nconst item = $input.item.json;\n\n// Extract nested data\nconst athlete = item.athlete || {};\nconst targets = item.calculated_targets || {};\nconst actuals = item.actual_totals || {};\nconst feedback = item.user_feedback || {};\nconst cost = item.cost_info || {};\n\n// Return FLAT object with simple field names\nreturn {\n  // Metadata\n  timestamp: item.timestamp || new Date().toISOString(),\n  version: item.version || 'unknown',\n  \n  // Athlete Info (flat)\n  athlete_name: `${athlete.weight_kg}kg ${athlete.gender} ${athlete.goal}`,\n  weight_kg: athlete.weight_kg || 0,\n  height_cm: athlete.height_cm || 0,\n  age: athlete.age || 30,\n  gender: athlete.gender || 'unknown',\n  goal: athlete.goal || 'unknown',\n  training_phase: athlete.training_phase || 'unknown',\n  diet_pattern: athlete.diet_pattern || 'omnivore',\n  \n  // Model & Settings\n  model_used: item.model_used || 'unknown',\n  fast_mode: item.fast_mode_enabled ? 'YES' : 'NO',\n  \n  // Calories\n  cal_target: targets.daily_energy_target_kcal || 0,\n  cal_actual: actuals.calories || 0,\n  cal_diff: (actuals.calories || 0) - (targets.daily_energy_target_kcal || 0),\n  cal_pct_diff: targets.daily_energy_target_kcal ? Math.round(((actuals.calories || 0) - targets.daily_energy_target_kcal) / targets.daily_energy_target_kcal * 100) : 0,\n  \n  // Protein\n  protein_target: targets.daily_protein_target_g || 0,\n  protein_actual: actuals.protein_g || 0,\n  protein_diff: (actuals.protein_g || 0) - (targets.daily_protein_target_g || 0),\n  protein_pct_diff: targets.daily_protein_target_g ? Math.round(((actuals.protein_g || 0) - targets.daily_protein_target_g) / targets.daily_protein_target_g * 100) : 0,\n  \n  // Carbs\n  carbs_target: targets.daily_carb_target_g || 0,\n  carbs_actual: actuals.carbs_g || 0,\n  carbs_diff: (actuals.carbs_g || 0) - (targets.daily_carb_target_g || 0),\n  carbs_pct_diff: targets.daily_carb_target_g ? Math.round(((actuals.carbs_g || 0) - targets.daily_carb_target_g) / targets.daily_carb_target_g * 100) : 0,\n  \n  // Fat\n  fat_target: targets.daily_fat_target_g || 0,\n  fat_actual: actuals.fat_g || 0,\n  fat_diff: (actuals.fat_g || 0) - (targets.daily_fat_target_g || 0),\n  \n  // Sodium\n  sodium_target: targets.sodium_target_mg || 0,\n  sodium_actual: actuals.sodium_mg || 0,\n  sodium_diff: (actuals.sodium_mg || 0) - (targets.sodium_target_mg || 0),\n  \n  // Quality Metrics\n  has_daily_totals: item.has_daily_totals ? 'YES' : 'NO',\n  meal_count: item.meal_count || 0,\n  food_count: item.food_count || 0,\n  \n  // Cost\n  cost_usd: cost.totalCost || 0,\n  tokens_in: cost.promptTokens || 0,\n  tokens_out: cost.completionTokens || 0,\n  tokens_total: (cost.promptTokens || 0) + (cost.completionTokens || 0),\n  \n  // Prompt/Response Size\n  prompt_chars: item.prompt_length_chars || 0,\n  response_chars: item.response_length_chars || 0,\n  \n  // User Feedback\n  rating: feedback.rating || 'unknown',\n  issues: Array.isArray(feedback.issues) ? feedback.issues.join(', ') : '',\n  comments: feedback.comments || '',\n  \n  // Accuracy Score (0-100, based on % differences)\n  accuracy_score: Math.max(0, 100 - Math.abs((actuals.calories || 0) - (targets.daily_energy_target_kcal || 0)) / (targets.daily_energy_target_kcal || 1) * 100)\n};"
      },
      "id": "code-node",
      "name": "Process Feedback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "athlete_name": "={{ $json.athlete_name }}",
            "weight_kg": "={{ $json.weight_kg }}",
            "goal": "={{ $json.goal }}",
            "training_phase": "={{ $json.training_phase }}",
            "model_used": "={{ $json.model_used }}",
            "fast_mode": "={{ $json.fast_mode }}",
            "calories_target": "={{ $json.calories_target }}",
            "calories_actual": "={{ $json.calories_actual }}",
            "calories_diff": "={{ $json.calories_diff }}",
            "protein_target": "={{ $json.protein_target }}",
            "protein_actual": "={{ $json.protein_actual }}",
            "protein_diff": "={{ $json.protein_diff }}",
            "carbs_target": "={{ $json.carbs_target }}",
            "carbs_actual": "={{ $json.carbs_actual }}",
            "carbs_diff": "={{ $json.carbs_diff }}",
            "sodium_target": "={{ $json.sodium_target }}",
            "sodium_actual": "={{ $json.sodium_actual }}",
            "sodium_diff": "={{ $json.sodium_diff }}",
            "has_daily_totals": "={{ $json.has_daily_totals }}",
            "meal_count": "={{ $json.meal_count }}",
            "food_count": "={{ $json.food_count }}",
            "cost_total": "={{ $json.cost_total }}",
            "prompt_length": "={{ $json.prompt_length }}",
            "response_length": "={{ $json.response_length }}",
            "rating": "={{ $json.rating }}",
            "issues": "={{ $json.issues }}",
            "comments": "={{ $json.comments }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Feedback received! Thank you.\"} }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Process Feedback Data", "type": "main", "index": 0 }]]
    },
    "Process Feedback Data": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Save to Google Sheets": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}

