meal-playground/docs/setup/n8n-workflow-feedback.json
{
  "name": "BurnRate Feedback Collector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "burnrate-feedback",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract and flatten feedback data for Google Sheets\nconst data = $input.item.json;\nconst targets = data.calculated_targets || {};\nconst actuals = data.actual_totals || {};\nconst athlete = data.athlete || {};\nconst feedback = data.user_feedback || {};\n\nreturn {\n  timestamp: data.timestamp,\n  version: data.version || 'unknown',\n  athlete_name: `${athlete.weight_kg}kg ${athlete.gender} ${athlete.goal}`,\n  weight_kg: athlete.weight_kg,\n  goal: athlete.goal,\n  training_phase: athlete.training_phase,\n  model_used: data.model_used,\n  fast_mode: data.fast_mode_enabled ? 'YES' : 'NO',\n  \n  calories_target: targets.daily_energy_target_kcal,\n  calories_actual: actuals.calories || 0,\n  calories_diff: (actuals.calories || 0) - (targets.daily_energy_target_kcal || 0),\n  \n  protein_target: targets.daily_protein_target_g,\n  protein_actual: actuals.protein_g || 0,\n  protein_diff: (actuals.protein_g || 0) - (targets.daily_protein_target_g || 0),\n  \n  carbs_target: targets.daily_carb_target_g,\n  carbs_actual: actuals.carbs_g || 0,\n  carbs_diff: (actuals.carbs_g || 0) - (targets.daily_carb_target_g || 0),\n  \n  sodium_target: targets.sodium_target_mg,\n  sodium_actual: actuals.sodium_mg || 0,\n  sodium_diff: (actuals.sodium_mg || 0) - (targets.sodium_target_mg || 0),\n  \n  has_daily_totals: data.has_daily_totals ? 'YES' : 'NO',\n  meal_count: data.meal_count,\n  food_count: data.food_count,\n  \n  cost_total: data.cost_info?.totalCost || 0,\n  prompt_length: data.prompt_length_chars,\n  response_length: data.response_length_chars,\n  \n  rating: feedback.rating,\n  issues: feedback.issues.join(', '),\n  comments: feedback.comments || '',\n  \n  full_json_url: '' // You can add file upload node to save full JSON and put URL here\n};"
      },
      "id": "code-node",
      "name": "Process Feedback Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $json.timestamp }}",
            "athlete_name": "={{ $json.athlete_name }}",
            "weight_kg": "={{ $json.weight_kg }}",
            "goal": "={{ $json.goal }}",
            "training_phase": "={{ $json.training_phase }}",
            "model_used": "={{ $json.model_used }}",
            "fast_mode": "={{ $json.fast_mode }}",
            "calories_target": "={{ $json.calories_target }}",
            "calories_actual": "={{ $json.calories_actual }}",
            "calories_diff": "={{ $json.calories_diff }}",
            "protein_target": "={{ $json.protein_target }}",
            "protein_actual": "={{ $json.protein_actual }}",
            "protein_diff": "={{ $json.protein_diff }}",
            "carbs_target": "={{ $json.carbs_target }}",
            "carbs_actual": "={{ $json.carbs_actual }}",
            "carbs_diff": "={{ $json.carbs_diff }}",
            "sodium_target": "={{ $json.sodium_target }}",
            "sodium_actual": "={{ $json.sodium_actual }}",
            "sodium_diff": "={{ $json.sodium_diff }}",
            "has_daily_totals": "={{ $json.has_daily_totals }}",
            "meal_count": "={{ $json.meal_count }}",
            "food_count": "={{ $json.food_count }}",
            "cost_total": "={{ $json.cost_total }}",
            "prompt_length": "={{ $json.prompt_length }}",
            "response_length": "={{ $json.response_length }}",
            "rating": "={{ $json.rating }}",
            "issues": "={{ $json.issues }}",
            "comments": "={{ $json.comments }}"
          }
        },
        "options": {}
      },
      "id": "google-sheets",
      "name": "Save to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [650, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_CREDENTIALS_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"success\": true, \"message\": \"Feedback received! Thank you.\"} }}"
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Process Feedback Data", "type": "main", "index": 0 }]]
    },
    "Process Feedback Data": {
      "main": [[{ "node": "Save to Google Sheets", "type": "main", "index": 0 }]]
    },
    "Save to Google Sheets": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}

